@import "../../assets/styles/variables";

.wrapper {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 75%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $text;
}

.categoryList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
    grid-auto-rows: minmax(125px, auto);
    max-height: 350px;
    align-items: start;
}

.categoryItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
