@import "../../assets/styles/variables";

.testimonialsContainer {
    background-color: $appBg;
    color: #b8c0cd;
    text-align: center;
    margin: 1.5rem auto;
    width: 80%;
    max-width: 1000px;

    margin-bottom: 3rem;
}

.testimonialsTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $text;
}

.testimonialsGrid {
    display: flex;
    justify-content: center;
    gap: 3%;
    height: 300px;
}

@media (max-width: $mobileBreakpoint) {
    .testimonialsContainer {
        background-color: $appBg;
        color: #b8c0cd;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .testimonialsTitle {
        font-size: 2rem;
        margin: 2rem auto;
        color: $text;
    }

    .testimonialsGrid {
        display: flex;
        flex-direction: column;
        gap: 3%;
        justify-content: center;
    }
}
